<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<title>List of Dark Pools</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
			background-color: #18181a;
			color: #f7f7f7;
			font-family: Consolas, monospace;
		}
		body {
			max-width: 800px;
			margin: 16px;
		}
		h1 {
			color: #d96629;
		}
		h3 {
			color: #86de74;
		}
		li {
			color: #75bfff;
			list-style: none;
			margin-top: 8px;
		}
		li::before {
			content: "• ";
			color: #ff7de9;
		}
		a {
			color: #75bfff;
		}
		i {
			color: #ff7de9;
			padding-left: 8px;
		}
	</style>
	<body>
		<div class="darkpools">
			<h1>List of dark pools</h1>
			<h3>Independent dark pools</h3>
			<ul>
				<li>
					<a href="https://www.marketswiki.com/wiki/Chi-X_Global_Holdings,_LLC"
						>Chi-X Global<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Instinet"
						>Instinet<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Liquidnet"
						>Liquidnet<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://www.marketswiki.com/wiki/NYFIX_Millennium_ATS"
						>NYFIX Millennium<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://www.marketswiki.com/wiki/POSIT"
						>Posit/MatchNow from Investment Technology Group (ITG)<i
							class="fa fa-external-link"
						></i
					></a>
				</li>
				<li>State Street's BlockCross</li>
				<li>RiverCross Securities</li>
				<li>SmartPool</li>
				<li>TORA Crosspoint</li>
				<li>ETF One</li>
				<li>Codestreet Dealer Pool for Corporate Bonds</li>
			</ul>
			<h3>Broker-dealer-owned dark pools</h3>
			<ul>
				<li>JP Morgan - JPMX</li>
				<li>Barclays Capital - LX Liquidity Cross</li>
				<li>BNP Paribas - BNP Paribas Internal eXchange (BIX)</li>
				<li>BNY ConvergEx Group (an affiliate of Bank of New York Mellon)</li>
				<li>Cantor Fitzgerald - Aqua Securities</li>
				<li>Citadel Connect - Citadel</li>
				<li>Citi - Citi Match, Citi Cross</li>
				<li>Credit Agricole Cheuvreux - BLINK</li>
				<li>Credit Suisse - CrossFinder</li>
				<li>Deutsche Bank Global Markets - DBA (Europe), SuperX ATS (U.S.)</li>
				<li>Fidelity Capital Markets</li>
				<li>GETCO - GETMatched</li>
				<li>Goldman Sachs SIGMA X</li>
				<li>Knight Capital Group - Knight Link, Knight Match</li>
				<li>Merrill Lynch - Instinct-X</li>
				<li>Morgan Stanley - MSPOOL</li>
				<li>Nomura - Nomura NX</li>
				<li>UBS Investment Bank - UBS ATS, UBS MTF, UBS PIN</li>
				<li>Societe Generale - ALPHA Y</li>
				<li>Daiwa - DRECT</li>
				<li>Wells Fargo Securities LLC - WELX - has since closed</li>
			</ul>
			<h3>Consortium-owned dark pools</h3>
			<ul>
				<li>BIDS Trading - BIDS ATS</li>
				<li>LeveL ATS</li>
				<li>Luminex (Buyside Only)</li>
			</ul>
			<h3>Exchange-owned dark pools</h3>
			<ul>
				<li>
					<a href="https://en.wikipedia.org/wiki/Australian_Securities_Exchange"
						>ASX Centre Point<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a
						href="https://en.wikipedia.org/wiki/International_Securities_Exchange"
						>International Securities Exchange<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/NYSE_Euronext"
						>NYSE Euronext<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Bats_Exchange,_Inc"
						>BATS Trading<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/Turquoise_(trading_platform)"
						>Turquoise<i class="fa fa-external-link"></i
					></a>
				</li>
				<li>
					<a href="https://en.wikipedia.org/wiki/XTX_Markets"
						>XTX Markets<i class="fa fa-external-link"></i
					></a>
				</li>
			</ul>
			<h3>Dark pool aggregators</h3>
			<ul>
				<li>Fidessa - Spotlight</li>
				<li>Bloomberg Tradebook</li>
				<li>Liquidnet LN Dark</li>
				<li>Credit Suisse Crossfinder Plus</li>
				<li>Deutsche Bank SuperX+</li>
				<li>Software AG - Apama</li>
				<li>ONEPIPE - Weeden &amp; Co. &amp; Pragma Financial</li>
				<li>Xasax Corporation</li>
				<li>Crossfire - Credit Agricole Cheuvreux</li>
				<li>Instinet - Nighthawk</li>
				<li>Bernstein - Shadow</li>
				<li>Wells Fargo - Komodo Dark</li>
			</ul>
		</div>
	</body>
</html>
