<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Insights API</title>
	</head>
	<style>
		* {
			box-sizing: border-box;
			background-color: #18181a;
			color: #f7f7f7;
			font-family: Consolas, monospace;
		}
		body {
			max-width: 800px;
			margin: 0 auto;
		}
		.tb {
			border-collapse: collapse;
		}
		.tb th,
		.tb td {
			padding: 5px;
		}
		.tb th {
			color: #86de74;
			text-align: left;
		}
		.path {
			color: #75bfff;
		}
		.description {
			color: #ff7de9;
		}
		h1,
		p {
			color: #d96629;
			padding: 5px 0px;
		}
	</style>
	<body>
		<div class="container">
			<h1>Usage</h1>
			<p>All methods are GET</p>
			<table class="tb">
				<thead>
					<th>Path</th>
					<th>Description</th>
				</thead>
				<tbody>
					<tr>
						<td class="path">/news</td>
						<td class="description">General U.S. news</td>
					</tr>
					<tr>
						<td class="path">/news/business</td>
						<td class="description">Business U.S. news</td>
					</tr>
					<tr>
						<td class="path">/news/health</td>
						<td class="description">Health U.S. news</td>
					</tr>
					<tr>
						<td class="path">/news/quote/[keyword]</td>
						<td class="description">
							Top 10 news articles about a company or a stock
						</td>
					</tr>
					<tr>
						<td class="path">/snapshot</td>
						<td class="description">Market snapshot</td>
					</tr>
					<tr>
						<td class="path">/snapshot/gainers</td>
						<td class="description">Top 10 daily market gainers</td>
					</tr>
					<tr>
						<td class="path">/snapshot/losers</td>
						<td class="description">Top 10 daily market losers</td>
					</tr>
					<tr>
						<td class="path">/snapshot/mostActive</td>
						<td class="description">Top 10 most active symbols</td>
					</tr>
					<tr>
						<td class="path">/snapshot/trendingSymbols</td>
						<td class="description">Top 10 most trending symbols</td>
					</tr>
					<tr>
						<td class="path">/snapshot/marketTime</td>
						<td class="description">Market time status information</td>
					</tr>
					<tr>
						<td class="path">/snapshot/marketSummary</td>
						<td class="description">Market summary with indicators</td>
					</tr>
					<tr>
						<td class="path">/insights/[symbol]</td>
						<td class="description">Get insights of a company or a stock</td>
					</tr>
					<tr>
						<td class="path">/search/[keyword]</td>
						<td class="description">
							Return top matching results for a company name or stock
						</td>
					</tr>
					<tr>
						<td class="path">/crypto</td>
						<td class="description">
							Top 200 cryptos ordered in descending order by intraday marketcap
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
