<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        box-sizing: border-box;
        color: #262730;
        font-family: Consolas, monospace;
        margin: 0;
        padding: 0;
      }
      body {
        margin: 16px;
      }
      h1 {
        color: #d33f49;
      }
      h3 {
        color: #3e92cc;
        margin: 20px 0px 5px 0px;
      }
      li {
        list-style: none;
        margin-top: 8px;
      }
      li::before {
        content: "• ";
        color: #ff7de9;
      }
    </style>
    <title>Stock Modules</title>
  </head>
  <body>
    <h1>Stock Modules</h1>
    <h3>Not all modules are available for all stocks</h3>
    <ul>
      <li>assetProfile</li>
      <li>recommendationTrend</li>
      <li>cashflowStatementHistory</li>
      <li>indexTrend</li>
      <li>defaultKeyStatistics</li>
      <li>industryTrend</li>
      <li>incomeStatementHistory</li>
      <li>fundOwnership</li>
      <li>summaryDetail</li>
      <li>insiderHolders</li>
      <li>calendarEvents</li>
      <li>upgradeDowngradeHistory</li>
      <li>price</li>
      <li>balanceSheetHistory</li>
      <li>earningsTrend</li>
      <li>secFilings</li>
      <li>institutionOwnership</li>
      <li>majorHoldersBreakdown</li>
      <li>balanceSheetHistoryQuarterly</li>
      <li>earningsHistory</li>
      <li>majorDirectHolders</li>
      <li>esgScores</li>
      <li>summaryProfile</li>
      <li>netSharePurchaseActivity</li>
      <li>insiderTransactions</li>
      <li>sectorTrend</li>
      <li>incomeStatementHistoryQuarterly</li>
      <li>cashflowStatementHistoryQuarterly</li>
      <li>earnings</li>
      <li>financialData</li>
    </ul>
  </body>
</html>
