<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			* {
				box-sizing: border-box;
				background-color: #18181a;
				font-family: Consolas, monospace;
			}
			body {
				margin: 16px;
			}
			h1 {
				color: #fff;
			}
			h2 {
				color: #d96629;
			}
			h3 {
				color: #86de74;
			}
			li {
				color: #75bfff;
				list-style: none;
				margin-top: 8px;
			}
			li::before {
				content: "• ";
				color: #ff7de9;
			}
			a {
				color: #75bfff;
			}
			i {
				color: #ff7de9;
				padding-left: 8px;
			}
		</style>
		<title>Asset Modules</title>
	</head>
	<body>
		<h1>Asset Modules</h1>
		<h2>
			Type the name of the modules as they appear below separated by a comma
		</h2>
		<h3>No all modules are available for all assets</h3>
		<ul>
			<li>assetProfile</li>
			<li>recommendationTrend</li>
			<li>cashflowStatementHistory</li>
			<li>indexTrend</li>
			<li>defaultKeyStatistics</li>
			<li>industryTrend</li>
			<li>incomeStatementHistory</li>
			<li>fundOwnership</li>
			<li>summaryDetail</li>
			<li>insiderHolders</li>
			<li>calendarEvents</li>
			<li>upgradeDowngradeHistory</li>
			<li>price</li>
			<li>balanceSheetHistory</li>
			<li>earningsTrend</li>
			<li>secFilings</li>
			<li>institutionOwnership</li>
			<li>majorHoldersBreakdown</li>
			<li>balanceSheetHistoryQuarterly</li>
			<li>earningsHistory</li>
			<li>majorDirectHolders</li>
			<li>esgScores</li>
			<li>summaryProfile</li>
			<li>netSharePurchaseActivity</li>
			<li>insiderTransactions</li>
			<li>sectorTrend</li>
			<li>incomeStatementHistoryQuarterly</li>
			<li>cashflowStatementHistoryQuarterly</li>
			<li>earnings</li>
			<li>financialData</li>
		</ul>
	</body>
</html>
